[Desktop Entry]
Type=Application
Name=ThickMeasureCN
Comment=Chinese ultrasonic thickness measurement
Exec=sh -c "$HOME/ThickMeasure/run_ThickMeasure_CH.sh"
Icon=utilities-terminal
Terminal=false
Categories=Science;
