[Desktop Entry]
Type=Application
Name=ThickMeasure
Comment=Ultrasonic thickness measurement
Exec=/home/pi/ThickMeasure/run_ThickMeasure.sh
Path=/home/pi/ThickMeasure
Icon=/home/pi/ThickMeasure/logo.png
Terminal=false
Categories=Science;
